.btn {
  border: solid black;
  width: 100px;
  height: 50px;
  font-size: 25px;
}

#guess-input {
  width: 25px;
  height: 50px;
  font-size: 25px;
  border: solid black;
}

.btn:hover {
  cursor: pointer;
}

.guess-panel {
  text-align: center;
}

#images {
  margin-left: 25%;
}

img {
  height: 500px;
}

#wrong-guesses {
  border: solid black;
}

#answer, #bad-letters {
  letter-spacing: 15px;
  font-size: 20px;
}
